{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tailwind_filters %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto p-10 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl text-center font-bold mb-6">{{ title }}</h1>
    
    <form action="" method="POST" class="my-8">
        {% csrf_token %} {{ form|crispy }}
        
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 font-bold rounded hover:bg-blue-600">
            Guardar
        </button>
        <a href="{% url 'empresa_list' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded">
            
            Cancelar
        </a>
    </form>
</div>
{% endblock %}
