<!-- documentos/templates/documentos/tipodocumento_list.html -->
{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-4 p-6">
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>

    <a href="{% url 'tipodocumento_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Crear Nuevo Tipo de Documento
    </a>
</div>

<table class="min-w-full mt-6 bg-white border border-gray-200">
    <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase">Código</th>
            <th class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase">Nombre</th>
            <th class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase">Tipo</th>
            <th class="px-6 py-2 text-left text-xs font-medium text-gray-500 uppercase">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo in tipos_documento %}
        <tr class="border-b">
            <td class="px-6 py-2">{{ tipo.codigo }}</td>
            <td class="px-6 py-2">{{ tipo.nombre }}</td>
            <td class="px-6 py-2">{{ tipo.tipo }}</td>
            <td class="px-6 py-2">
                <a href="{% url 'tipodocumento_update' tipo.pk %}" class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600">Editar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="py-2">No hay tipos de documento disponibles.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
