<!-- comite_pro/templates/base.html-->
<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Comite Pro{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <!-- Encabezado que cubre todo el ancho -->
    <header class="w-full bg-blue-600 text-white border-b border-gray-400">
      <div class="flex items-center justify-between px-4 py-3">
        <!-- Título y texto de la izquierda -->
        <div class="flex items-center space-x-6">
          <span class="text-lg font-semibold">Sistema Contable</span>
          {% if empresa_actual %}
          <span class="text-lg">Razón Social: {{ empresa_actual.razon_social}} | Giro: {{ empresa_actual.giro }}</span>
          {% else %}
          <span class="text-lg">Razón Social: Comité Pro | Giro: Tratamiento y Distribución de Agua</span>
          {% endif %}
        </div>

        <!-- Usuario en la derecha -->
        {% if user.is_authenticated %}
        <div class="text-lg text-white font-semibold">
          Usuario: {{ user.username|upper }}
        </div>
        {% endif %}
      </div>
    </header>

    <!-- Contenedor principal con menú lateral y contenido -->
    <div class="flex {% if user.is_authenticated %}h-[calc(100vh-57px)]{% else %}h-screen{% endif %}">
      <!-- Menú Lateral -->
      {% if user.is_authenticated %}
      <div class="w-64 flex flex-col justify-between border-r bg-white">
        <div class="flex-1 overflow-y-auto">
          <div class="px-4 py-6">
            <ul class="mt-6 space-y-1">
              <!-- General -->
              <li>
                <a href="{% url 'dashboard' %}" class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700">
                  General
                </a>
              </li>
              <!-- Resto de los menús -->
              <!-- Menú Empresa -->
              <li>
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-gray-700"
                  >
                    <span class="text-sm font-medium"> Empresa </span>
                    <span
                      class="shrink-0 transition duration-300 group-open:-rotate-180"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </summary>

                  <ul class="mt-2 space-y-1 px-4">
                    <li>
                      <a
                        href="{% url 'agg_periodo_contable' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Agregar Periodo
                      </a>
                    </li>

                    <li>
                      <a
                        href="{% url 'lista_periodos' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Lista períodos
                      </a>
                    </li>

                    <!-- Submenú Plan de Cuentas -->
                    <li>
                      <a
                        href="{% url 'plan_cuentas' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Plan de Cuentas
                      </a>
                    </li>
                  </ul>
                </details>
              </li>

              <!-- Menú Digitación -->
              <li>
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-gray-700"
                  >
                    <span class="text-sm font-medium"> Digitación </span>
                    <span
                      class="shrink-0 transition duration-300 group-open:-rotate-180"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </summary>

                  <ul class="mt-2 space-y-1 px-4">
                    <!-- Submenú Cuentas -->
                    <li>
                      <a
                        href="{% url 'cuenta_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Cuentas
                      </a>
                    </li>

                    <!-- Submenú Catálogo -->
                    <li>
                      <a
                        href="{% url 'catalogo_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Catálogo
                      </a>
                    </li>

                    <!-- Submenú Tipo de documentos -->
                    <li>
                      <a
                        href="{% url 'tipodocumento_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Tipo de documentos
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
            
              <!-- Menú Procesos -->
              <li>
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-gray-700"
                  >
                    <span class="text-sm font-medium"> Procesos </span>
                    <span
                      class="shrink-0 transition duration-300 group-open:-rotate-180"
                    >
                      <!-- Icono -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </summary>

                  <ul class="mt-2 space-y-1 px-4">
                    <!-- Submenú Comprobante -->
                    <li>
                      <a
                        href="{% url 'doccomprobante_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Comprobantes
                      </a>
                    </li>
                    <!-- Submenú transacciones -->
                    <li>
                      <a
                        href="{% url 'documentobanco_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Bancos
                      </a>
                    </li>
                    <!-- Submenú Póliza -->
                    <li>
                      <a
                        href="{% url 'poliza_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Póliza
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
              
              <!-- Menú Reportes -->
              <li>
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-700 hover:bg-gray-100 hover:text-gray-700"
                  >       
                    <span class="text-sm font-medium"> Reportes </span>
                    <span
                      class="shrink-0 transition duration-300 group-open:-rotate-180"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </summary>

                  <ul class="mt-2 space-y-1 px-4"> 
                    <!-- Submenú Libro Diario -->
                    <li>
                      <a
                        href="{% url 'libro_diario' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >        
                        Libro Diario
                      </a>
                    </li>

                    <!-- Submenú Libro Mayor -->
                    <li>
                      <a
                        href="{% url 'libro_mayor' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Libro Mayor
                      </a>
                    </li>
                  </ul>
                </details>
              </li>

              <!-- Menú Seguridad -->
              <li>
                <details class="group [&_summary::-webkit-details-marker]:hidden">
                  <summary
                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    <span class="text-sm font-medium"> Seguridad </span>

                    <span
                      class="shrink-0 transition duration-300 group-open:-rotate-180"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="size-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </summary>

                  <ul class="mt-2 space-y-1 px-4">
                    <li>
                        <a
                          href="{% url 'usuarios_list' %}"
                          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                        >
                          Usuario
                        </a>
                    </li>
                    <!-- Submenú Clientes -->
                    <li>
                      <a
                        href="{% url 'cliente_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Clientes
                      </a>
                    </li>
                    <!-- Submenú Proveedores -->
                    <li>
                      <a
                        href="{% url 'proveedor_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Proveedores
                      </a>
                    </li>
                    <!-- Submenú Donantes -->
                    <li>
                      <a
                        href="{% url 'donante_list' %}"
                        class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                      >
                        Donantes
                      </a>
                    </li>
                  </ul>
                </details>
              </li>
            </ul>
          </div>
        </div>

        <!-- Cerrar sesión - Fijo en la parte inferior -->
        <div class="flex-shrink-0 px-4 py-6 border-t border-gray-100 bg-white">
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button
              class="block w-full rounded-lg px-4 py-2 text-sm font-medium text-red-600 hover:bg-red-50 hover:text-red-700 transition duration-150"
              type="submit"
            >
              <span class="flex items-center justify-center gap-2">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                  </path>
                </svg>
                Cerrar Sesión
              </span>
            </button>
          </form>
        </div>
      </div>
      {% endif %}

      <!-- Contenido Principal -->
      <div class="flex-grow flex flex-col">
        <!-- Área de contenido con scroll -->
        <div class="flex-grow overflow-y-auto container mx-auto px-4 h-full">
          <div>
            {% if messages %}
            <ul class="messages p-4">
                {% for message in messages %}
                <li class="mb-2 {% if message.tags %}{% if 'success' in message.tags %}text-green-500{% elif 'error' in message.tags %}text-red-500{% elif 'warning' in message.tags %}text-yellow-500{% elif 'info' in message.tags %}text-blue-500{% else %}text-gray-500{% endif %}{% endif %}">
                  {{ message }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>

    <!-- Bloque para scripts adicionales -->
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
